body{
    background-color: #f0f0f0;
}

.login-div{
    padding: 15px;
    border:  solid 1px #c0c0c0c0;
    box-shadow: 0 0 2px #777777;
    display: inline-block;
    background-color: aqua;

}

.login-div input {
    display: block;
    margin-bottom: 7px;
    text-shadow: 5px 5px 10px;
    background-color: yellow;
}

.login-div input[type="email"] {
   /* border: solid 3px purple;*/
}

.login-div input[type="password"] {
    /*border: solid 3px teal;*/
}

input[class*="control"] {
    display: block;
}

input[class$="red"] {
    border: solid 2px red;
}

input[class^="blue"] {
    border: solid 2px fuchsia;
}

.login-div button:hover {
    box-shadow: 2px 2px 3px #c0c0c0c0;
}

.login-div input:focus {
    box-shadow: 2px 2px 3px #c0c0c0c0;
    /*border: none; keretszín letiltása*/
}

ul li:last-child {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline ;
}

ul li:first-child {
    color: red;
}

ul li:nth-child(2) {
    color: blue;