@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
    background-color: aqua;
}

h1 {
    color: black;
    size: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
}

<<<<<<< HEAD
.content {
    color: green;
=======
.content{
    color: yellow;
>>>>>>> 9bec1cdd2d0911cdb8f4f17e336713279d63c631
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    size: 30%;
    border-style: dashed;
    text-shadow: 5px 5px 10px;
}

img {
    width: 150px;
    margin: 0px;
    text-align: center;
}

#one {
    width: 20%;
    height: 280px;
    margin: 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    /*border-width: 5px;*/
    /*border-color: blue;*/
    box-shadow: 5px 5px 5px 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 260px;
<<<<<<< HEAD
}

body {}
=======
  }

  body{
      background-color: aqua;
  }

  .bold{
      font-weight: bold;
      color: blue;
      text-align: justify;
      size: 40%;
    }

    .img-div{
        background-color: blueviolet;
    }
    .light{
        background-color: brown;
    }
>>>>>>> 9bec1cdd2d0911cdb8f4f17e336713279d63c631
