@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

h1{
    color: black;
    size: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    font-weight: bold;
}

.content{
    color: green;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    size: 30%;
}

p{
   color: rgb(192, 25, 25);
   font-size: 20px;
}

img{
    width: 150px;
    margin: 0px;
    text-align: center;
}

#one{
    width:20%;
    height: 280px;
    margin: 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 260px;
  }
